<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="css/styles.css">
   <title>Sauna rooms monitoring</title>
</head>
<body>
   <h1>Sauna rooms monitoring</h1>
   <div class="button-wrapper">
       <button onclick=location.href='history.html'
           class="btn-square">
           History
       </button>
   </div>
   <table>
       <thead>
           <tr><th>Room</th><th>Status</th><th>Last emergency</th><th>Updated time</th><th>Host</th></tr>
       </thead>
       <tbody id="hosts">
           <tr><td>101</td><td>Normal</td><td>2022/10/11 22:37:09</td><td>2023/05/16 12:33:51</td><td>192.168.10.200</td></tr>
           <tr><td>102</td><td>Normal</td><td>2022/10/11 22:37:09</td><td>2023/05/16 12:33:52</td><td>192.168.10.200</td></tr>
           <tr><td>103</td><td>Normal</td><td>2022/10/11 22:37:09</td><td>2023/05/16 12:33:53</td><td>192.168.10.200</td></tr>
           <tr><td>201</td><td>Normal</td><td>2022/10/11 22:37:09</td><td>2023/05/16 12:33:56</td><td>192.168.10.200</td></tr>
           <tr><td>207</td><td>Normal</td><td></td><td>2023/05/16 12:33:57</td><td>192.168.10.200</td></tr>
           <tr><td>301</td><td>Normal</td><td>2022/10/11 22:37:09</td><td>2023/05/16 12:33:58</td><td>192.168.10.200</td></tr>
           <tr><td>307</td><td>Normal</td><td>2022/10/11 22:37:09</td><td>2023/05/16 12:33:59</td><td>192.168.10.200</td></tr>
           <tr><td>401</td><td>Normal</td><td>2022/10/11 22:37:09</td><td>2023/05/16 12:33:54</td><td>192.168.10.200</td></tr>
           <tr><td>407</td><td>Normal</td><td>2022/10/11 22:37:09</td><td>2023/05/16 12:33:55</td><td>192.168.10.200</td></tr>
           <tr><td>501</td><td>Normal</td><td>2022/10/11 22:37:09</td><td>2023/05/16 12:33:56</td><td>192.168.10.200</td></tr>
           <tr><td>507</td><td>Normal</td><td>2022/10/11 22:37:09</td><td>2023/05/16 12:33:57</td><td>192.168.10.200</td></tr>
       </tbody>
   </table>
<script src="js/index.js"></script>
</body>
</html>