table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0074D9;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}